In [12]:
import pandas as pd 

data = pd.read_excel("jeux_donnees/Data_Professional_Salary_Survey_Responses_1.xlsx")

In [13]:
data.dtypes

Survey Year                                      int64
Timestamp                               datetime64[ns]
SalaryUSD                                      float64
Country                                         object
PostalCode                                      object
PrimaryDatabase                                 object
YearsWithThisDatabase                            int64
OtherDatabases                                  object
EmploymentStatus                                object
JobTitle                                        object
ManageStaff                                     object
YearsWithThisTypeOfJob                           int64
HowManyCompanies                                object
OtherPeopleOnYourTeam                           object
CompanyEmployeesOverall                         object
DatabaseServers                                 object
Education                                       object
EducationIsComputerRelated                      object
Certifications                                  object
HoursWorkedPerWeek                              object
TelecommuteDaysPerWeek                          object
NewestVersionInProduction                       object
OldestVersionInProduction                       object
PopulationOfLargestCityWithin20Miles            object
EmploymentSector                                object
LookingForAnotherJob                            object
CareerPlansThisYear                             object
Gender                                          object
OtherJobDuties                                  object
KindsOfTasksPerformed                           object
Counter                                          int64
dtype: object

In [15]:
for i in data.columns :
    print("###",i,"###")
    print(data[i].value_counts())
    print("\n")

### Survey Year ###
2018    3094
2017    2898
2021    1747
2020    1723
2019     879
Name: Survey Year, dtype: int64


### Timestamp ###
2019-12-11 11:25:39.735    2
2017-01-05 11:48:25.283    2
2017-12-20 08:12:38.482    2
2017-01-05 12:45:17.087    1
2020-12-10 09:09:00.993    1
                          ..
2017-12-12 20:08:52.909    1
2017-12-20 06:44:45.289    1
2019-01-02 06:07:20.300    1
2020-12-10 14:42:27.326    1
2018-12-12 12:53:51.550    1
Name: Timestamp, Length: 10338, dtype: int64


### SalaryUSD ###
110000.0    280
100000.0    270
120000.0    265
90000.0     237
80000.0     227
           ...
141750.0      1
70879.0       1
85216.0       1
55168.0       1
13.0          1
Name: SalaryUSD, Length: 1655, dtype: int64


### Country ###
United States     6807
United Kingdom     934
Canada             378
Australia          255
India              171
                  ...
Albania              1
Bahrain              1
Kenya                1
Qatar                1
Vietnam              1
Name: Country, Length: 97, dtype: int64


### PostalCode ###
Not Asked    2898
3000           20
2000           20
1000           15
6000           15
             ...
040             1
13066           1
4125            1
95822           1
Ky128dw         1
Name: PostalCode, Length: 3663, dtype: int64


### PrimaryDatabase ###
Microsoft SQL Server       9553
Oracle                      330
Other                        95
PostgreSQL                   93
Azure SQL DB                 77
MySQL/MariaDB                67
Amazon RDS (any flavor)      32
DB2                          25
Microsoft Access             23
MongoDB                      12
Teradata                     11
SAP                          11
Cassandra                     5
SQLite                        5
Elasticsearch                 2
Name: PrimaryDatabase, dtype: int64


### YearsWithThisDatabase ###
10       1164
15        936
20        842
5         752
8         603
6         561
3         539
4         529
7         527
12        487
2         431
18        367
1         345
17        344
16        265
13        257
9         251
11        223
14        220
25        155
19        139
22        119
21         82
23         70
24         34
30         30
0          21
26         10
28          8
27          7
29          5
32          3
33          2
31          2
34          1
1050        1
2017        1
2003        1
2020        1
30331       1
2000        1
40          1
1997        1
38          1
53716       1
Name: YearsWithThisDatabase, dtype: int64


### OtherDatabases ###
Microsoft SQL Server                                                                                                                    898
Oracle                                                                                                                                  366
Microsoft Access                                                                                                                        324
MySQL/MariaDB                                                                                                                           251
Azure SQL DB                                                                                                                            199
                                                                                                                                       ...
MySQL/MariaDB, Microsoft Access, SQL Anywhere 12                                                                                          1
Microsoft SQL Server, Oracle, PostgreSQL, Microsoft Access, Splunk                                                                        1
Microsoft SQL Server, SQLite, Azure SQL DB (any flavor), Amazon RDS (any flavor)                                                          1
Microsoft SQL Server, MySQL/MariaDB, CA-Datacom                                                                                           1
Oracle, MySQL/MariaDB, PostgreSQL, MongoDB, Cassandra, Redis, Elasticsearch, Azure SQL DB, Amazon RDS (any flavor), Aurora, DynamoDB      1
Name: OtherDatabases, Length: 1948, dtype: int64


### EmploymentStatus ###
Full time employee                                                   9151
Full time employee of a consulting/contracting company                754
Independent consultant, contractor, freelancer,  or company owner     299
Independent or freelancer or company owner                            104
Part time                                                              33
Name: EmploymentStatus, dtype: int64


### JobTitle ###
DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)    1906
DBA                                                                                                           1514
DBA (Production Focus - build & troubleshoot servers, HA/DR)                                                  1230
Developer: T-SQL                                                                                               995
Architect                                                                                                      794
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                          737
Developer: App code (C#, JS, etc)                                                                              680
Manager                                                                                                        625
Analyst                                                                                                        593
Engineer                                                                                                       516
DBA (Development Focus - tunes queries, indexes, does deployments)                                             496
Other                                                                                                          170
Data Scientist                                                                                                  74
Systems Administrator                                                                                            2
DevOps, Sr Software Engineer DBA                                                                                 1
Sales                                                                                                            1
Technician                                                                                                       1
DBA / BI Developer                                                                                               1
Analytics consultant                                                                                             1
Database Specialist                                                                                              1
Principal database engineer                                                                                      1
Sr Consultant                                                                                                    1
Consultant                                                                                                       1
Name: JobTitle, dtype: int64


### ManageStaff ###
No     7948
Yes    2393
Name: ManageStaff, dtype: int64


### YearsWithThisTypeOfJob ###
1       1113
2       1086
3       1037
5       1009
10       818
4        806
6        610
7        517
8        487
15       451
20       409
12       296
9        228
11       158
25       157
18       149
13       140
17       130
14       118
16       111
0         83
19        73
22        70
21        55
30        52
23        41
24        20
28        15
27        15
35        14
32        12
33        11
26        11
29        10
31         6
37         4
40         4
38         4
34         3
36         2
45         1
1997       1
42         1
2020       1
44         1
39         1
Name: YearsWithThisTypeOfJob, dtype: int64


### HowManyCompanies ###
Not Asked                                                             5992
1 (this is the only company where I've had this kind of position)     1539
2 (I worked at another similar position elsewhere before this one)    1240
3                                                                      726
4                                                                      368
6 or more                                                              266
5                                                                      210
Name: HowManyCompanies, dtype: int64


### OtherPeopleOnYourTeam ###
None           3924
1              2144
2              1300
More than 5    1125
3               884
4               581
5               383
Name: OtherPeopleOnYourTeam, dtype: int64


### CompanyEmployeesOverall ###
Not Asked       7715
1000 or more     377
10               132
100-249          126
6-99             123
                ...
15000              1
96                 1
97                 1
254                1
32                 1
Name: CompanyEmployeesOverall, Length: 148, dtype: int64


### DatabaseServers ###
Not Asked    1747
10            636
5             545
3             511
20            508
             ...
84              1
226             1
221             1
87              1
172             1
Name: DatabaseServers, Length: 268, dtype: int64


### Education ###
Bachelors (4 years)           3650
Not Asked                     3470
Masters                       1230
None (no degree completed)    1180
Associates (2 years)           760
Doctorate/PhD                   51
Name: Education, dtype: int64


### EducationIsComputerRelated ###
Yes          3768
Not Asked    3470
No           1891
Name: EducationIsComputerRelated, dtype: int64


### Certifications ###
Not Asked                           3470
No, I never have                    3347
Yes, and they're currently valid    1807
Yes, but they expired               1717
Name: Certifications, dtype: int64


### HoursWorkedPerWeek ###
Not Asked    3470
40           2951
45           1248
50            872
42            265
38            254
35            204
37            195
60            155
55            150
48             82
44             71
43             61
36             46
30             44
41             38
46             36
65             27
39             22
47             22
70             18
32             15
80              9
8               8
52              7
24              6
54              6
90              6
20              5
25              4
53              4
10              4
75              4
9               3
68              2
85              2
49              2
100             2
58              2
6               1
11              1
12              1
15              1
5               1
22              1
57              1
93              1
28              1
160             1
150             1
56              1
82              1
78              1
76              1
200             1
64              1
59              1
3               1
Name: HoursWorkedPerWeek, dtype: int64


### TelecommuteDaysPerWeek ###
None, or less than 1 day per week    4023
Not Asked                            3470
1                                    1140
5 or more                             787
2                                     536
3                                     241
4                                     144
Name: TelecommuteDaysPerWeek, dtype: int64


### NewestVersionInProduction ###
Not Asked                      6871
SQL Server 2017                1234
SQL Server 2016                 933
SQL Server 2019                 919
SQL Server 2014                 155
                               ...
Oracle R12                        1
Oracle 19c                        1
No sql server in production       1
Azure DB                          1
postgres 12                       1
Name: NewestVersionInProduction, Length: 70, dtype: int64


### OldestVersionInProduction ###
Not Asked             6871
SQL Server 2008R2      857
SQL Server 2012        827
SQL Server 2016        429
SQL Server 2014        407
                      ...
Dont use SQL sever       1
Postgres 9               1
Azure SQL                1
don't use it             1
DBase                    1
Name: OldestVersionInProduction, Length: 97, dtype: int64


### PopulationOfLargestCityWithin20Miles ###
Not Asked               5992
1M+ (metropolis)        1663
300K-1M (large city)    1310
100K-299K (city)         876
20K-99K (large town)     370
<= 20,000 (town)         130
Name: PopulationOfLargestCityWithin20Miles, dtype: int64


### EmploymentSector ###
Private business                         8577
State/province government                 440
Non-profit                                395
Local government                          374
Federal government                        274
Education (K-12, college, university)     272
Student                                     9
Name: EmploymentSector, dtype: int64


### LookingForAnotherJob ###
Not Asked                                   3470
No                                          3414
Yes, but only passively (just curious)      2923
Yes, actively looking for something else     534
Name: LookingForAnotherJob, dtype: int64


### CareerPlansThisYear ###
Stay with the same employer, same role            4524
Not Asked                                         2898
Stay with the same employer,  but change roles     864
Stay with the same role, but change employers      848
Prefer not to say                                  609
Change both employers and roles                    598
Name: CareerPlansThisYear, dtype: int64


### Gender ###
Male                       6619
Not Asked                  2898
Female                      710
Prefer not to say            91
Non-binary/third gender      22
None                          1
Name: Gender, dtype: int64


### OtherJobDuties ###
Not Asked                                                                                                                                                                                                                                                                                               6368
DBA (Development Focus - tunes queries, indexes, does deployments)                                                                                                                                                                                                                                       247
Developer: T-SQL                                                                                                                                                                                                                                                                                         212
DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers)                                                                                                                                                                                               155
Developer: Business Intelligence (SSRS, PowerBI, etc)                                                                                                                                                                                                                                                    119
                                                                                                                                                                                                                                                                                                        ...
Analyst, Data Scientist, Developer: Business Intelligence (SSRS, PowerBI, etc), Manager                                                                                                                                                                                                                    1
DBA (Development Focus - tunes queries, indexes, does deployments), DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers), Developer: App code (C#, JS, etc), Developer: Business Intelligence (SSRS, PowerBI, etc), Developer: T-SQL, Engineer       1
Analyst, Architect, DBA (Development Focus - tunes queries, indexes, does deployments), DBA (General - splits time evenly between writing & tuning queries AND building & troubleshooting servers), Developer: T-SQL                                                                                       1
Analyst, DBA (Development Focus - tunes queries, indexes, does deployments), DBA (Production Focus - build & troubleshoot servers, HA/DR), Developer: Business Intelligence (SSRS, PowerBI, etc), Manager                                                                                                  1
Data Scientist, Developer: App code (C#, JS, etc)                                                                                                                                                                                                                                                          1
Name: OtherJobDuties, Length: 551, dtype: int64


### KindsOfTasksPerformed ###
Not Asked                                                                                                                                 6368
Build scripts & automation tools, Manual tasks, Meetings & management, Projects                                                            186
Build scripts & automation tools, Manual tasks, Projects                                                                                   150
Build scripts & automation tools, Manual tasks, Meetings & management, Projects, R&D, Training/teaching                                    132
Build scripts & automation tools, Manual tasks, Meetings & management, On-call as part of a rotation, Projects, R&D, Training/teaching     125
                                                                                                                                          ...
On-call 24/7/365, R&D, Training/teaching                                                                                                     1
Build scripts & automation tools, Meetings & management, On-call as part of a rotation, On-call 24/7/365, Projects                           1
On-call as part of a rotation, On-call 24/7/365, Training/teaching                                                                           1
Manual tasks, On-call as part of a rotation, On-call 24/7/365, Projects                                                                      1
Manual tasks, R&D, Training/teaching                                                                                                         1
Name: KindsOfTasksPerformed, Length: 211, dtype: int64


### Counter ###
1    10341
Name: Counter, dtype: int64